
.flex-container{
    display:  flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    
}

.label-informacoes{
    min-width: 100%;
}

.input{

}

.texto{
    display: grid;
    place-items: center;
}

.input-radio{
    display: grid;
    place-items: center;
}

